.tabs {
    position: relative;
    &_first {
        margin-bottom: 48px;
        @media (max-width: 768px) {
            margin-bottom: 20px;
        }
    }
    &__list {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin: -10px 0 0 -9px;
        padding-right: 50px;

        &_mobile {
            display: none;
            @media (max-width: 768px) {
                display: flex;
            }
        }

        @media (max-width: 768px) {
            margin-bottom: 20px;
        }
    }

    &__item {
        margin: 10px 0 0 8px;
        &.active a {
            background-color:  #98092D;
            color: #fff;
        }
        a {
            display: block;
            padding: 12px 20px;
            transition: all .2s linear;
            border-radius: 3px;
            font-weight: normal;
            font-size: 12px;
            line-height: 160%;
            color: #98092D;
            background-color: #f8eff1;
            &:hover {
                background-color:  #98092D;
                color: #fff;
            }

            &:active {
                background-color:  #8E092D;
                color: #fff;
            }
        }
    }

    &__selected {
        border-radius: 3px;
        font-weight: normal;
        font-size: 12px;
        line-height: 160%;
        position: relative;
        padding: 12px 20px;
        background-color:  #98092D;
        color: #fff;
        margin: 10px 0 0 10px;
    }

    &__clear {
        position: absolute;
        top: -7px;
        right: -7px;
        width: 20px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        border-radius: 50px;
        border: 1px solid rgba(152, 9, 45, 0.7);
        svg {
            width: 16px;
            height: 16px;
        }
    }

    &__more {
        position: absolute;
        top: 10px;
        right: 0;

        display: flex;
        align-items: center;
        justify-content: center;
        width: 42px;
        height: 42px;
        border-radius: 50%;
        background-color: rgba(152, 9, 45, 0.05);

        @media (max-width: 768px) {
            top: -40px;
        }

        &:hover {
            background-color:  rgba(152, 9, 45, 1);
            
            svg {
                stroke: #fff;
            }
        }


        &:active {
            background-color:  rgba(152, 9, 45, 0.05);
            
            svg {
                stroke: #98092D;
            }
        }


        svg {
            width: 24px;
            height: 24px;
            stroke: #98092D;
        }
    }
}