.face {
  background-image: url("./face.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @media (max-width: 768px) {
    background-image: url("./mface.jpg");
  }

  @media (max-width: 400px) {
    padding-left: 15px;
    padding-right: 15px;
  }
  &__rect {
    max-width: 820px;
    width: 100%;
    background-color: rgb(var(--color_white));
    margin: 80px 0 146px;
    border-radius: 0 50px 0 50px;
    @media (max-width: 1024px) {
      max-width: 700px;
    }

    @media (max-width: 768px) {
      max-width: 375px;
      margin: 50px 0;
    }

    h1 {
      font-style: normal;
      font-weight: normal;
      font-size: 40px;
      line-height: 49px;
      text-align: center;
      color: rgb(var(--color_black));
      margin: 60px 0 20px;

      @media (max-width: 768px) {
        font-size: 18px;
        line-height: 22px;
        margin: 30px 20px 20px;
        text-align: left;
      }
    }

    .description {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 32px;
      text-align: center;
      color: rgb(var(--color_black));
      padding: 0 20px;
      max-width: 660px;
      margin: 0 auto 60px;

      @media (max-width: 768px) {
        font-size: 12px;
        line-height: 160%;
        margin: 0 auto 30px;
        text-align: left;
      }
    }
  }
}

.promo {
  &__inner {
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 1024px) {
      flex-direction: column-reverse;
      align-items: flex-start;
    }

    @media (max-width: 768px) {
      padding: 20px 0 50px;
    }
  }

  &__image {
    img {
      @media (max-width: 768px) {
        object-fit: cover;
        max-width: 100%;
      }
    }
  }

  &__text {
    &_title {
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 29px;
      color: rgb(var(--color_black));
      max-width: 510px;

      @media (max-width: 768px) {
        font-size: 18px;
        line-height: 22px;
      }
    }

    &_descr {
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 24px;
      color: rgb(var(--color_black));
      margin-top: 24px;

      @media (max-width: 768px) {
        font-size: 14px;
        line-height: 24px;
        margin-top: 20px;
      }
    }

    &_buttons {
      display: flex;
      align-items: center;
      margin-top: 40px;

      @media (max-width: 768px) {
        flex-direction: column;
        margin-top: 20px;
        a {
          width: 100%;
        }
      }
    }

    @media (max-width: 1024px) {
      margin-top: 30px;
    }
  }

  &__btn {
    &:first-child {
      margin-right: 24px;
      @media (max-width: 768px) {
        margin-right: 0;
        margin-bottom: 10px;
      }
    }

    @media (max-width: 1380px) {
      padding: 16px;
    }

    @media (max-width: 1024px) {
      padding: 16px 32px;
    }

    @media (max-width: 768px) {
      width: 100%;
      padding: 16px 0;
    }
  }
}

.pop {
  background-color: rgba(152, 9, 45, 0.03);

  &__inner {
    padding-top: 80px;
    padding-bottom: 80px;

    @media (max-width: 768px) {
      padding-top: 50px;
      padding-bottom: 50px;
    }
  }

  &__title {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: rgb(var(--color_black));
    margin-bottom: 30px;

    @media (max-width: 768px) {
      font-size: 18px;
      line-height: 22px;
      margin-bottom: 20px;
    }
  }

  &__certificates {
    margin-bottom: 47px;

    @media (max-width: 768px) {
      margin-bottom: 0;
    }
  }

  &__btn {
    width: 100%;
    max-width: 330px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

    &_arrow {
      width: 24px;
      height: 24px;
      margin-left: 10px;
    }

    @media (max-width: 768px) {
      max-width: 100%;
      padding: 16px 0;
    }
  }

  &__spin {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 40px 0;
  }

  .swiper {
    padding-bottom: 80px;
  }
  .swiper-pagination {
    bottom: 40px !important;
  }
  .swiper-pagination-bullet-active {
    background: #98092d;
    border: 1px solid #98092d;
  }

  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    border: 1px solid #e0b5c0;
  }

  .swiper-button-next,
  .swiper-button-prev {
    top: 87%;
    width: 40px;
    height: 40px;
    background: #f5e6ea;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .swiper-button-next:after,
  .swiper-button-prev:after {
    font-size: 20px;
    color: #98092d;
  }
}
